HELP.md
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
**/out/
**/build/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


### VS Code ###
.vscode/
dist

### Terraform ###
*tfstate*
.terraform
*.swp
*.plan
*.tfplan
*-env/*
temp.yaml

### Node ###
node_modules
.history
.grunt
*.env